*
{
	margin:0px;
	padding: 0px;
	font-family: Century Gothic;
	outline: none;
	border: 0px;	
	letter-spacing: 0.5px;
}

html
{
	display: inline-block;
	width: 100%;
	height: auto;
}

body
{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

option
{
	display: inline-block;
	padding: 2%;
}

::-webkit-scrollbar
{
	height: 5px;
	width: 4px;
	background: rgb(242,242,242);
}

::-webkit-scrollbar-thumb
{
	background: #ccc;
}

::-webkit-scrollbar-corner
{
	background: #333;
}

.anytech-bar
{
	display: inline-block;
	width: 100%;
	height: 70px;
	background-color: transparent;
	position: fixed;
	z-index: 9997;
	transition: background 1s;
}

.anytech-page
{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: blue;
}

.anytech-sections
{
	display: inline-block;
	width: 100%;
	height: 125%;
	background-color: white;
	margin-bottom: 150px;
}

.anytech-map
{
	display: inline-block;
	width: 100%;
	height: 200px;
	background-color: rgb(242,242,242);
	margin-bottom: 10px;
	position: absolute;
	margin-bottom: 0px;
	margin-top: 30%;
	
}

#anytech_logo_image
{
	display: inline-block;
	height: 40px;
	margin: 15px;
	margin-left: 25px;
	width: auto;
}

#anytech_login_button
{
	display: inline-block;
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top:20px;
	right: 2.5%;
	background-color: rgb(100,100,100);
	color: white;
	font-weight: bold;
	
}

#anytech_login_button:hover
{
	background-color: rgb(120,120,120);
}

#anytech_map_table
{
	display: inline-block;
	width:97.5%;
	margin-left: 2.5%;
	margin-top:30px;
}

.anytech-map-label
{
	display: inline-block;
	width: 100%;
	font-size: 0.7em;
	margin:2px;
	color: rgb(100,100,100);
}

.anytech-map-label:hover
{
	font-weight: bold;
}


.anytech-search
{
	display: inline-block;
	width:100%;
}

.anytech-search-label
{
	display: inline-block;
	font-size: 0.7em;
	margin:2px;
	color: rgb(100,100,100);
}

#anytech_search
{
	display: inline-block;
	width:90%;
	height: 30px;
	background-color: rgb(100,100,100);
}

#anytech_search_input
{
	display: inline-block;
	height: 30px;
	width:85%;
	background-color: transparent;
	color: white;
	padding-left: 10px;
}


#anytech_search_button
{
	display: inline-block;
	height: 30px;
	width:30px;
	background-color: transparent;
	position: absolute;
	right: 3%;
	
}

#anytech_footer_label
{
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	color: rgb(100,100,100);
	margin-left:2.5%;
	margin-top: 2%;
}

#anytech_login_form
{
	display: inline-block;
	width: 80%;
	height: 50%;
	margin-top: 10%;
	background-color: transparent;
	margin-left: 10%;
	padding-top:5%;
}

.anytech-titles
{
	display: inline-block;
	font-size: 2.4em;
	width: 100%;
	color: rgb(150,150,150);
}

.anytech-input
{
	display: inline-block;
	font-size: 0.8em;
	width: 70%;
	margin-top: 10px;
	padding: 2%;
	color: rgb(100,100,100);
	background-color: rgb(222,222,222);
	resize: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.anytech-input:focus
{
	background-color: rgb(232,232,232);
}

.anytech-login-button
{
	display: inline-block;
	font-size: 0.8em;
	width: 70%;
	margin-top: 10px;
	padding: 1.5%;
	color: white;
	font-weight: bold;
	background-color: rgb(100,100,100);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.anytech-login-button:hover
{
	background-color: rgb(130,130,130);
}

#anytech_access_label
{
	display: inline-block;
	font-size: 0.8em;
	width: auto;
	margin-top: 10px;
	padding: 1%;
	color: rgb(150,150,150);
}

#anytech_access_label:hover
{
	color: rgb(100,100,100);
}

#anytech_signup_label
{
	display: inline-block;
	font-size: 1em;
	width: auto;
	margin-top: 10px;
	font-weight: bold;
	padding: 1%;
	color: rgb(150,150,150);
}

#anytech_signup_label:hover
{
	color: rgb(100,100,100);
}

#anytech_contact
{
	margin-bottom: 0px;
}

#anytech_contact_form
{
	display: inline-block;
	width: 80%;
	height: 50%;
	margin-top: 10%;
	background-color: transparent;
	margin-left: 10%;
	padding-top:5%;
}

.anytech-contact-button
{
	display: inline-block;
	font-size: 0.8em;
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1.5%;
	color: white;
	font-weight: bold;
	background-color: rgb(100,100,100);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.anytech-contact-button:hover
{
	background-color: rgb(130,130,130);
}

#anytech_message
{
	display: inline-block;
	height: 120px;
}

#anytech_contact_label
{
	display: inline-block;
	font-size: 0.8em;
	width: 70%;
	padding: 1%;
	color: rgb(150,150,150);
}

#anytech_services
{
	height: auto;
}

#anytech_services_form
{
	display: inline-block;
	width: 90%;
	height: 100%;
	margin-top: 5%;
	background-color: white;
	margin-left: 5%;
	padding-top:5%;
}

.anytech_services_option
{
	display: inline-block;
	width: 200px;
	height: auto;	
	margin: 10px;
	
}

.anytech_services_image
{
	display: inline-block;
	width: 50%;
	padding: 10%;
	background-color: black;
	border-radius: 50%;
	border-bottom-right-radius: 0px;
}

.anytech-service-label
{
	display: inline-block;
	width: 100%;
	padding-top: 17px;
	font-size:0.9em;
	color: #333;
	font-weight: bold;
}

.anytech-service-desc
{
	display: inline-block;
	width: 100%;
	padding-top: 17px;
	font-size:0.9em;
	color: #555;
	font-weight: normal;
}


.anytech-slider
{
	display: inline-block;
	height: 100%;
	width: 100%;
	margin-top:50px;
	background-image: url('../images/slider/11.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: absolute;
}

#anytech_slider_legend
{
	display: inline-block;
	width: 95%;
	font-size: 2em;
	font-weight: normal;
	color: black;
	padding-left:5%;
	margin-right: 50px;
}

.anytech-legend
{
	display: inline-block;
	width: auto;
	position: absolute;
	bottom: 14%;
	left: 0%;
	background-image: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
	padding: 2%;
}

#anytech_slider_button
{
	display: none;
	width: 100%;
	padding: 1%;
	margin-top: 10px;
	font-size: 0.8em;
	font-weight: bold;
	position: relative;
	right: 5%;
	top: 50%;
	margin-left: 5%;
	background-color: rgb(100,100,100);
	color: white;
}

#anytech_slider_button:hover
{
	background-color: rgb(150,150,150);
}

#anytech_signup_table
{
	display: inline-block;
	width:97.5%;
	margin-left: 2.5%;
	margin-top:30px;
}

#anytech_signup_form
{
	display: inline-block;
	width: 70%;
	height: 150%;
	background-color: rgba(255,255,255,0.4);
	padding:15%;
	padding-top:20%;
}

#anytech_signup
{
	height: 150%;
	background-image: url('../images/slider/2.jpg');
	background-size: 120% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.anytech-input-signup
{
	display: inline-block;
	font-size: 0.8em;
	width: 100%;
	margin-top: 10px;
	padding: 2%;
	color: rgb(100,100,100);
	background-color: rgb(222,222,222);
	resize: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}			
			
.anytech-input-signup-date
{
	display: inline-block;
	font-size: 0.8em;
	width: 100%;
	margin-top: 10px;
	padding: 5.5%;
	color: rgb(100,100,100);
	background-color: rgb(222,222,222);
	resize: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.anytech-label
{
	display: inline-block;
	font-size: 0.8em;
	color: rgb(100,100,100);
	margin-top:10px;
}

.anytech-input-signup:focus
{
	background-color: rgb(232,232,232);
}

.anytech-input-signup-date:focus
{
	background-color: rgb(232,232,232);
}

.anytech-input-signup-password
{
	display: inline-block;
	font-size: 0.8em;
	width: 100%;
	margin-top: 10px;
	padding: 4%;
	color: rgb(100,100,100);
	background-color: rgb(222,222,222);
	resize: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}			
.anytech-input-signup-password:focus
{
	background-color: rgb(232,232,232);
}

.anytech-input-signup-month
{
	display: inline-block;
	font-size: 0.8em;
	width: 100%;
	height: 94%;
	margin-top: 10px;
	padding: 2%;
	color: rgb(100,100,100);
	background-color: rgb(222,222,222);
	resize: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.anytech-input-signup-month:focus
{
	background-color: rgb(232,232,232);
}

.anytech-signup-button
{
	display: inline-block;
	font-size: 0.8em;
	width: 100%;
	margin-top: 10px;
	padding: 1.5%;
	color: white;
	font-weight: bold;
	background-color: rgb(100,100,100);
}

.anytech-signup-button:hover
{
	background-color: rgb(130,130,130);
}

#anytech_about
{
	display: inline-block;
	height: auto;
	background-image: url('../images/slider/9.jpg');
	background-size: 150% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#anytech_about_form
{
	display: inline-block;
	width: 80%;
	height: auto;
	background-color: rgba(255,255,255,0.7);
	padding:10%;
	
}

#anytech_title_about
{
	font-weight: bold;
	color: rgb(100,100,100);
}

.anytech-subtitle
{
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	color: rgb(100,100,100);
	margin-top: 20px;
}

.anytech-about-legend
{
	display: inline-block;
	font-size: 1em;
	color: rgb(100,100,100);
	margin-top: 2px;
	margin-bottom: 30px;
	text-align: justify;
}

.anytech-people
{
	display: inline-block;
	background-color: transparent;
	width: 100%;
	height: 200px;
}


.anytech-image
{
	display: inline-block;
	width: 130px;
	height: 130px;
	box-shadow: 0px 0px 10px 0px gray;
	margin: 20px;
}

.anytech-button
{
	display: inline-block;
	font-size: 0.8em;
	width: 70%;
	margin-top: 0px;
	padding: 1.5%;
	color: white;
	font-weight: bold;
	background-color: rgb(100,100,100);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.anytech-button:hover
{
	background-color: rgb(130,130,130);
}

#anytech_more
{
	display: none;
	width: 120px;
	height:25px;
	font-size: 0.6em;
	background-image: linear-gradient(to left, #000, #111);
	color: white;
	box-shadow: 0px 0px 1px 0px white;
}

.anytech-icons
{
	display: inline-block;
	height: 50px;
	width: 50px;
	box-shadow: 0px 0px 2px 0px gray;
}

#anytech_top
{
	margin-top: 200px;
}

#anytech-team
{
	font-size: 2em;
	margin-top: 200px;
	margin-bottom:50px;
	font-weight: normal;
}

#anytech_map
{
	margin-bottom: 0px;
	height: auto;
}

#anytech_library
{
	display: inline-block;
	height: auto;
}

#anytech_library_form
{
	display: inline-block;
	width: 80%;
	height: 150%;
	background-color:#fff;
	padding:10%;
	margin-top:10%;
}

#anytech_library_image
{
	display: inline-block;
	width: 100%;
	margin-top: 40px;
}

#anytech_library_button
{
	display: inline-block;
	width: 50px;
}

#anytech_library_search
{
	display: inline-block;
	width: 80%;
	background-color: rgb(100,100,100);
}


#anytech_library_input
{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	padding-left:2%;
	background-color: transparent;
	color: white;
}

#anytech_library_label
{
	display: inline-block;
	color: rgb(130,130,130);
	margin-bottom: 20px;
	margin-top:50%;
}


#anytech_contact
{
	height: 150%;
}

#anytech_contact_form
{
		margin-top: 20%;
}

a
{
	display: inline-block;
	font-size: 1em;
	color: rgb(100,100,100);
	margin-top: 2px;
	margin-bottom: 30px;
	text-align: justify;
}


.anytech-cover
{
	display: none;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9998;
}

.anytech-popup-recover
{
	display: none;
	background-color:transparent;
	width: 98%;
	height: auto;
	margin-top: 15%;
	position: fixed;
	padding: 1%;
}

#anytech_popup_title
{
	display: inline-block;
	width: 90%;
	font-size: 1.5em;
	margin: 3%;
	margin-left: 5%;
	font-weight: bold;
}

#anytech_table_recover
{
	display: inline-block;
	margin: 2%;
	margin-left: 5%;
	margin-top: 0%;
	
}

.anytech-popup-buttons
{
	display: inline-block;
	width:90%;
	height: 5%;
	margin: 2%;
	margin-left: 5%;
}

.anytech-cancel
{
	display: inline-block;
	width: auto;
	height: auto;
	padding:1%;
	background-color: white;
	color: rgb(150,150,150);
}

.anytech-cancel:hover
{
	background-color: rgb(249,249,249);
	color: rgb(100,100,100);
}

.anytech-next
{
	display: inline-block;
	height: auto;
	padding:1%;
	width: auto;
	height: auto;
	border: 1px solid rgb(100,100,100);
	background-color: rgb(100,100,100);
	color: white;
}

.anytech-next:hover
{
	background-color: rgb(130,130,130);
	border: 1px solid rgb(130,130,130);
}

.anytech-checkbox
{
	background-color: black;
}

#anytech_recover_label
{
	display: inline-block;
	font-size: 1em;
	width: auto;
	margin-top: 10px;
	padding: 1%;
	color: rgb(150,150,150);
}

.anytech-popup-access-code
{
	display: none;
	background-color: transparent;
	width: 98%;
	height: auto;
	margin-top: 15%;
	position: fixed;
	padding: 1%;
}

#anytech_input_access
{
	width: 95%;
	margin-bottom:2%;
}

.anytech-popup-password
{
	display: none;
	background-color: transparent;
	width: 98%;
	height: auto;
	margin-top: 15%;
	position: fixed;
	padding: 1%;
}

.anytech-label-rec
{
	margin-left: -10px;
	text-align: justify;
}

.anytech-popup-mail-true
{
	display: none;
	background-color: transparent;
	width: 98%;
	height: auto;
	margin-top: 15%;
	position: fixed;
	padding: 1%;
}

.anytech-label-rec-red
{
	display: inline-block;
	font-size: 1em;
	width: auto;
	margin-top: 10px;
	padding: 1%;
	color: red;
	margin-left: 30px;
	margin-top:20px;
	text-align: justify;
}

/* SIGNUP PAGE */

.signup-label-topbar
{
	display: inline-block;
	height: 30px;
	font-size: 1.5em;
	color: rgb(90,90,90);
	float: right;
	background-color: transparent;
	padding: 22px;
}

.signup-data
{
	display: inline-block;
	width: 90%;
	height: 70%;
	bottom: 10%;
	position: absolute;
	background-color: rgba(255,255,255,0.0);
	padding-left: 5%;
}

.signup-image
{
	display: inline-block;
	width: 230px;
	height: 230px;
	margin-top: 2%;
	background-color: rgba(232,232,232,0.3);
	box-shadow: 0px 0px 10px 0px black;
}

.signup-label
{
	color: rgb(242,242,242);
	font-size: 1em;
	
}

#signup_label_title
{
	display: inline-block;
	font-size: 2em;
	margin-top: 1%;
	margin-bottom: 1%;
	font-weight: bold;
	color: rgb(242,242,242);
}

.signup-image-button
{
	display: none;
	width: 230px;
	padding:10px;
	background-color: rgba(255,255,255,0.9);
	color: black;
	position: relative;
	margin-top: -36px;
	transition: display 2s;
}

.signup-buttons-group
{
	display: inline-blcok;
	width:90%;
	height: 10%;
	margin-top: 10%;
	background-color: transparent;
}



#signup_location
{
	display: inline-block;
	height: 100%;
	width: 100%;
	background-image: url('../images/slider/15.jpg');
	background-size: 120% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#signup_favorites
{
	display: none;
	height: 100%;
	width: 100%;
	background-image: url('../images/slider/121.jpg');
	background-size: 120% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#signup_photo
{
	display: none;
	height: 100%;
	width: 100%;
	background-image: url('../images/slider/12.jpg');
	background-size: 120% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.anytech-favorite-button
{
	display: inline-block;
	width: 200px;
	margin-bottom: 5px;
	padding: 10px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	
}

.anytech-favorite-button:hover
{
	background-color: White;
	color: black;
	font-weight: bold;
}

.signup-select-state
{
	display: inline-block;
	width: 250px;
	padding: 1%;
	margin-bottom:20px;
}

.signup-select-city
{
	display: inline-block;
	width: 250px;
	padding: 1%;
	margin-bottom:20px;
}

#select_label
{
	display: inline-block;
	margin-top: 30px;
	font-size: 0.9em;
}

.into-fav
{
	display: inline-block;
	width: 100%;
	height: 50%;
}

#slideshow
{
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	position: fixed;
	background-color: red;
}

#slides
{
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	position: absolute;
}

.slides-img
{
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
	position: relative;
}

.anytech-art-image
{
	display: inline-block;
	height: 500px;
	width: 100%;
	background-image: url('../images/feed/4.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: absolute;
}


.anytech-art-info
{
	display: inline-block;
	width: 100%;
	height: 500px;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	
}

.anytech-art-title
{
	display: inline-block;
	width: 70%;
	padding: 15%;
	padding-top: 200px;
	padding-bottom: 0px;
	font-size: 3em;
	color: white;
	z-index: 9999;
	font-weight: bold;
	text-shadow: 1px 0px rgba(0,0,0,0.5);
}

.anytech-art-author
{
	display: inline-block;
	width: 70%;
	padding-left: 15%;
	font-size: 1em;
	color: white;
	z-index: 9999;
	text-shadow: 1px 0px rgba(0,0,0,0.5);
}

.anytech-art-content
{
	display: inline-block;
	background-color: transparent;
	width: 70%;
	height: auto;
	margin-left: 10%;
	padding: 5%;
	
}


.post-image
{
	display: inline-block;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.post-title
{
	display: inline-block;
	width: 100%;
	color: #000;
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 100px;
	letter-spacing: -0.06em;
	text-transform: uppercase;
}

.post-author
{
	display: inline-block;
	color: #333;
	font-size: 0.9em;
	margin-bottom: 10px;
}

.post-text
{
	display: inline-block;
	width: 100%;
	color: #777;
	font-size: 1.3em;
	text-align: justify;
	margin-top: 30px;
	line-height:170%;
}

.post-link
{
	display: inline;
	font-size: 1em;
	color: #777;
	font-weight: bold;
}

.post-link:hover
{
	color: #888;
}

.post-topic
{
	display: inline-block;
	width: 100%;
	color: #777;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: justify;
}

.post-quote
{
	display: inline-block;
	width: 85%;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left:5%;
	color: #777;
	font-size: 1.5em;
	text-align: justify;
	font-style: italic;
}

.post-quote:before
{
	display: inline-block;
	content: url('../images/psp.png');
	margin-top: 10px;
}

.post-quote:after
{
	display: inline-block;
	content: url('../images/csp.png');
}

.post-tags
{
	display: inline-block;
	color: #333;
	font-size: 1em;
	text-align: justify;
	margin-left: 2px;
}

.topic
{
	display: inline-block;
	margin-right: 5px;
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight: bold;
	color: #777;
	background-color: rgba(255,255,255,0.15);
	margin-top:50px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.topic:hover
{
	color: white;
	background-color: rgba(0,0,0,0.1);
}

.anytech-post-buttons
{
	display: inline-block;
	width: 96%;
	background-color: #fff;
	padding: 2%;
	margin-top: 150px;
	padding-top:3.5%;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.anytech-post-buttons input
{
	display: inline-block;
	width: 22px;
	margin-right: 5px;
	border-radius: 50%;
}

.table-anytech-buttons
{
	display: inline-block;
}

.anytech-post-rating
{
	background-color: #0145ff;
}

.anytech-post-rating:hover
{
	background-color: #0181FF;
}


.anytech-post-like
{
	background-color: #0145ff;
}

.anytech-post-like:hover
{
	background-color: #0181FF;
}

.anytech-post-comment
{
	background-color: #ffa700;
}

.anytech-post-comment:hover
{
	background-color: gold;
}

.anytech-post-share
{
	background-color: #12b802;
}

.anytech-post-share:hover
{
	background-color: #4EE000;
}

.anytech-post-favorite
{
	background-color: #FF0000;
}

.anytech-post-favorite:hover
{
	background-color: #FF4444;
}

.anytech-post-time
{
	background-color: #000;
}

.anytech-post-time:hover
{
	background-color: #444;
}

.anytech-post-delation
{
	background-color: #FF0000;
}

.anytech-post-delation:hover
{
	background-color: #FF4444;
}

.button-value
{
	display: inline-block;
	padding-right: 20px;
	font-weight: bold;
}

.comment-image
{
	display: inline-block;
	width: 40px;
	border-radius: 50%;
	border-bottom-right-radius: 0px;
}

.anytech-art-comment-now
{
	display: inline-block;
	width: 90%;
	border-top: 1px solid #ddd;
	padding-bottom: 10px;
	padding-top: 30px;
	margin-top: 30px;
	background-color: purple;
	padding:5%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.anytech-art-comment
{
	display: inline-block;
	width: 90%;
	height: auto;
	background-color: rgba(255,255,255,1);
	padding-bottom: 10px;
	padding-top: 30px;
	margin-top: 30px;
	padding: 5%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}


.comment-author
{
	display: inline-block;
	width: auto;
	color: #333;
	font-weight: bold;
	font-size: 1em;
	margin-left: 10px;
	letter-spacing: -1px;
}

.comment-date
{
	display: inline-block;
	width: auto;
	color: #aaa;
	font-size: 0.8em;
	margin-left: 10px;
	letter-spacing: -1px;	
	margin-bottom: 2%;
}

.comment-text
{
	display: inline-block;
	width: auto;
	color: #555;
	font-size: 1em;
	margin-left: 5px;
	margin-top: 20px;
}


.table-aval-com
{
	display: inline-block;
	width: 100%;
	padding-left:1%;
	margin-top: 20px;
}

.com-like
{
	display: inline-block;
	width: 20px;
	background-color: #4285F4;
	border-radius: 50%;
}

.com-like:hover
{
	background-color: #2396ff;
}

.com-delation
{
	display: inline-block;
	width: 20px;
	background-color: red;
	border-radius: 50%;
}

.com-aval-label
{
	display: inline-block;
	font-size: 0.9em;
	margin-top:1px;
	margin-left:5px;
	color: black;
	font-weight: bold;
}

.com-aval-label-del
{
	display: inline-block;
	font-size: 0.8em;
	margin-left:0px;
	color: red;
	font-weight: bold;
	padding: 2px;
	text-transform: uppercase;
}

.image-comment
{
	display: inline-block;
	width: 50px;
	border-radius: 50%;
	border-bottom-right-radius: 0px;
}

.comment-area
{
	display: inline-block;
	width: 99.25%;
	height: 50px;
	resize: none;
	padding: 1.5%;
	margin-left: 1%;
	overflow: hidden;
	font-size: 0.9em;
	margin-bottom: 5px;
	border: 1px solid #eee;
	color: #333;
	font-size: 1em;
	text-align: justify;
}

.comment-area:focus
{
	border: 0px solid #eee;
}

.button-comment-submit
{
	display: inline-block;
	width: 100px;
	float: right;
	color: white;
	padding:1%;
	background-color: rgba(0,0,0,0.5);
}

.userbar-color
{
	background-color: #ddd;
	transition: background 1s;
}

.anytech-comment-titles
{
	display: inline-block;
	width: 100%;
	letter-spacing: 1px;
	font-weight: bold;
	font-size:1.3em;
	color: #777;
	margin-top: 150px;
}